body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u392 {
  position:absolute;
  left:899px;
  top:0px;
}
#u392_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u392_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u394 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u395 {
  position:absolute;
  left:199px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u395_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u395.mouseOver {
}
#u395_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u395.mouseDown {
}
#u396 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u397 {
  position:absolute;
  left:298px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u397_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u397.mouseOver {
}
#u398 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u399 {
  position:absolute;
  left:398px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u399_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u399.mouseOver {
}
#u400 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u401 {
  position:absolute;
  left:696px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u401_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u401.mouseOver {
}
#u402 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u403 {
  position:absolute;
  left:795px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u403_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u403.mouseOver {
}
#u404 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u406 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u407 {
  position:absolute;
  left:597px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u407_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u407.mouseOver {
}
#u408 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u409 {
  position:absolute;
  left:498px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u409_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u409.mouseOver {
}
#u410 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u411 {
  position:absolute;
  left:936px;
  top:15px;
  width:172px;
  height:50px;
}
#u412 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413 {
  position:absolute;
  left:-1px;
  top:80px;
  width:1300px;
  height:45px;
  overflow:hidden;
}
#u413_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u413_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u415 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u417 {
  position:absolute;
  left:796px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u419 {
  position:absolute;
  left:834px;
  top:71px;
  width:20px;
  height:10px;
}
#u420 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:1172px;
  top:20px;
  width:109px;
  height:34px;
}
#u423 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u424 {
  position:absolute;
  left:214px;
  top:160px;
  width:605px;
  height:325px;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u426 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u427 {
  position:absolute;
  left:100px;
  top:0px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u429 {
  position:absolute;
  left:350px;
  top:0px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u430 {
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u431 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u432 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u433 {
  position:absolute;
  left:100px;
  top:50px;
  width:250px;
  height:45px;
}
#u434 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u435 {
  position:absolute;
  left:350px;
  top:50px;
  width:250px;
  height:45px;
}
#u436 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u437 {
  position:absolute;
  left:0px;
  top:95px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u438 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u439 {
  position:absolute;
  left:100px;
  top:95px;
  width:250px;
  height:45px;
}
#u440 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u441 {
  position:absolute;
  left:350px;
  top:95px;
  width:250px;
  height:45px;
}
#u442 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u443 {
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u444 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u445 {
  position:absolute;
  left:100px;
  top:140px;
  width:250px;
  height:45px;
}
#u446 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u447 {
  position:absolute;
  left:350px;
  top:140px;
  width:250px;
  height:45px;
}
#u448 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u449 {
  position:absolute;
  left:0px;
  top:185px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u450 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u451 {
  position:absolute;
  left:100px;
  top:185px;
  width:250px;
  height:45px;
}
#u452 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u453 {
  position:absolute;
  left:350px;
  top:185px;
  width:250px;
  height:45px;
}
#u454 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u455 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u456 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u457 {
  position:absolute;
  left:100px;
  top:230px;
  width:250px;
  height:45px;
}
#u458 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u459 {
  position:absolute;
  left:350px;
  top:230px;
  width:250px;
  height:45px;
}
#u460 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u461 {
  position:absolute;
  left:0px;
  top:275px;
  width:100px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u463 {
  position:absolute;
  left:100px;
  top:275px;
  width:250px;
  height:45px;
}
#u464 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
}
#u465 {
  position:absolute;
  left:350px;
  top:275px;
  width:250px;
  height:45px;
}
#u466 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u467 {
  position:absolute;
  left:318px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u468 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u469 {
  position:absolute;
  left:214px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u469_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u469.mouseOver {
}
#u470 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u471 {
  position:absolute;
  left:413px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u471_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u471.mouseOver {
}
#u472 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
