body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u214 {
  position:absolute;
  left:899px;
  top:0px;
}
#u214_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u214_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:80px;
}
#u216 {
  position:absolute;
  left:2px;
  top:32px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u217 {
  position:absolute;
  left:199px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u217_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u217.mouseOver {
}
#u217_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u217.mouseDown {
}
#u218 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u219 {
  position:absolute;
  left:298px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u219_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u219.mouseOver {
}
#u220 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u221 {
  position:absolute;
  left:398px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u221_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u221.mouseOver {
}
#u222 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u223 {
  position:absolute;
  left:695px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u223_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u223.mouseOver {
}
#u224 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u225 {
  position:absolute;
  left:794px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u225_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u225.mouseOver {
}
#u226 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u228 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u229 {
  position:absolute;
  left:596px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u229_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u229.mouseOver {
}
#u230 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u231 {
  position:absolute;
  left:497px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u231_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u231.mouseOver {
}
#u232 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u233 {
  position:absolute;
  left:936px;
  top:15px;
  width:172px;
  height:50px;
}
#u234 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:696px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u237 {
  position:absolute;
  left:2px;
  top:29px;
  width:96px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u238 {
  position:absolute;
  left:734px;
  top:71px;
  width:20px;
  height:10px;
}
#u239 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:-1px;
  top:80px;
  width:1300px;
  height:45px;
  overflow:hidden;
}
#u240_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 0, 0, 1);
  background-image:none;
}
#u240_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:5px;
}
#u242 {
  position:absolute;
  left:2px;
  top:-6px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:1172px;
  top:26px;
  width:109px;
  height:34px;
}
#u245 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:413px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u246_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u246.mouseOver {
}
#u247 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u248 {
  position:absolute;
  left:213px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u248_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u248.mouseOver {
}
#u249 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:318px;
  top:90px;
  width:85px;
  height:25px;
  color:#FFFFFF;
}
#u251 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:888px;
}
#u252 {
  position:absolute;
  left:94px;
  top:135px;
  width:569px;
  height:888px;
}
#u253 {
  position:absolute;
  left:2px;
  top:436px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
